{{ template "protocol" }}

<form method=post>
<table >
<tr><th></th><th>File</th><th>Shared Key <br/>
<font size=-2>(you can copy link and share it)</font></th>
<th><center>Uploaded</center></th>
<th>&emsp; Expiary</th><th>Downloads</th></tr>
{{ $host := .Host}}
{{ range .Files}}

<tr>
  <td>

{{ if .Candelete}}
    <input type=checkbox name=fileid value='{{.Fileid}}' />
{{end}}
  </td>

  <td>
    <a target=_blank id="link" href='//{{$host}}/share-files/view?id={{.Filelink}}'>{{.Filename}}</a>
  </td>
  <td align=center><font color=green>
			<a id="link" href='//{{$host}}/share-files?sharekey={{.Sharekeyhash}}'>
			{{.Sharekey}}</a></font>
  </td>
  <td align=center>
   &emsp; {{.Uploadtime}}
  </td>
  <td align=center>
   &emsp; {{.Expiretime}}
  </td>
  <td><center>
  <a  href='//{{$host}}/share-files/fileinfo?id={{.Filelink}}'>
  {{.Downloads}}
  </a></center></td>
<tr>
{{end}}
</table>

{{ if .Candelete}}
  <input type=submit name=remove value=Remove />
{{end}}
</form>

{{ template "putprotocol"  }}

      </div><div class='well'>
	      Developed by &copy; <a href="https://code.sd" target=_blank>Code For Software</a> 2020-2025</div></div>
  </body>
</html>