{{ template "header" }}

{{ template "copylink" }}


</head>
<body>
    
  <div class="container">
 
        
            <h3>File information</h3>
            <div class="row jumbotron">
    <p>File
         <a target=_blank id="link" href='/share-files/view?id={{.Entry}}'> {{ .Filename }}
        </a>       
        <button class="smallbutton"  onclick="copyLink('link')">Copy Link</button> 
      <br/>
      Uploaded at: <font size=-2>{{.Uploadtime}}</font><br/>
         Will expire at: <font size=-2>{{.Expires}}</font></p>
    <h4>Downloads</h4>
    <table class="mediumtable" >
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Country</th>
                <th>Visit Time</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Visits }}
            <tr>
                <td>{{ .IP }}</td>
                <td>{{ .Country }}</td>
                <td><font size=-2>{{ .Time }}</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    </div>
</body>
</html>`