<head>
    <title>Share-Files</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/share-files/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/share-files/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">

        <div class="well"  style="padding:5px;">
            <h3> <a href="/share-files">Share</a> Files
           &emsp;&emsp; <img src="/share-files/resources/images/code2.png"  /> </h3>
    
          </div>

        <div class="well" style="padding:10px;">
            <form enctype="multipart/form-data" action="/share-files/up" method="post" >

            <label for="file"><h4>Choose file to upload to the server, then copy link to share it</h4></label>
                        <input class="btn btn-default" type="file" name="uploadfile" placeholder='Choose'>

                        <label for="days"><h4>Keep This File In Server For</h4></label>
                        <input name="days" value="15" type="number" max="{{.Limit}}" size=3>
                        <label for="days">Days</label>
                        <br/>
                                                
                       <label for="key">     Key for sharing (e.g. MyCV)<br/> 
                        </lable>
                        <input type=text name=key value="{{.Key}}"/> (Optional) used for multi files
                        <br/>
 
                        <input type="submit" name="upload"  value="Upload File" class="btn btn-lg btn-primary align-right" />
                   
              
            </form>
        </div>
           

