{{define "header" }}
<head>
    <title>Share-Files</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/share-files/resources/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/share-files/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href='/share-files/resources/images/logo.png'  rel='shortcut icon' />

</head>
<body>
    <div class="container">

        <div class="well"  style="padding:5px;">
          <a href="/share-files">
            <img src="/share-files/resources/images/logo.png" />
            Share Files
          </a>
      
        </div>
{{end}}

{{ define "protocol" }}
<script>
let protocol = location.protocol;
</script>
{{end}}

{{ define "putprotocol" }}

<script>
  document.getElementByID("link").href = protocol + document.getElementByID("link").href 
</script>

{{end}}

{{ define "copylink" }}
    <script>
        function copyLink(id) {
            const link = document.getElementById(id).href;
             const tempInput = document.createElement('input');
                document.body.appendChild(tempInput);
                tempInput.value = link;
                tempInput.select();
                try {
                    document.execCommand('copy');
                    alert('Link copied to clipboard!');
                } catch (err) {
                    console.error('Fallback copy failed: ', err);
                }
                document.body.removeChild(tempInput);
        }
    </script>
    
{{end}}